@import "../utils/vars";

* {
  font-family: $font-family1;
  font-style: normal;
  padding: 0;
  margin: 0;
  line-height: 1.33;
  letter-spacing: 0.03em;
}

.container {
  margin: 0 auto;
}
.section {
  padding: 60px 0px;
}

.unstyled-list {
  list-style: none;
}

.header-list__studio-logo {
  font-family: $font-family2;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: $color4;

  &--footer {
    color: $primarycolor;
  }
}

.contact-list {
  &__mail {
    text-decoration: none;
    font-family: $font-family1;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: $color7;

    &:hover {
      color: $secondarycolor;
      transition: $transition;
      transition-duration: 250ms;
    }

    &:focus {
      color: $secondarycolor;
      transition: $transition;
      transition-duration: 250ms;
    }
  }

  &__phone {
    text-decoration: none;
    font-family: $font-family1;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: $color7;
  }
}

.center-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.444;
  text-align: center;
  letter-spacing: 0.03em;
  color: $color4;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 94px 0px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0px;
  }
}
