@import "../utils/globals";
@import "../utils/vars";

.customers {
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    
    &__item {
        width: 170px;
        height: 92px;
        border: 1px solid $svg-text-color;
        border-radius: 4px;
        fill: $svg-text-color;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover,
        &:focus {
        fill: $highlight-color;
        border-color: $highlight-color;
        transition: $transition;
        }
    }
        
}