@import "../utils/globals";
@import "../utils/vars";
.header {
    background-color: #FFFFFF;

    &__page {
        height: 80px;
        border-bottom: 1px solid #ECECEC;
        width: 1200px;
        display: flex;
        align-items: center;
    }
}  

.header__section {
    display: flex;
    flex-grow: 1;
    align-items: center;

    &__logo--align {
        display: flex;
        align-items: center;
    }    
}

.header__logo::after {
    content: "Studio";
    color: #000000;
}

.header__buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-grow: 1;
}
.header__link {
    position: relative;
}
.header__active-link::after {
    content: '';
    display: block;
    position: absolute;
    border-bottom: 4px solid $highlight-color;
    border-radius: 2px;
    width: 100%;
    top: 45px;
    transition: $transition
}
.header__buttons li a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $brand-color;
}
.header__buttons li a:hover,
.header__buttons li a:focus {
    color: $highlight-color;
    cursor: pointer;
    transition: $transition;
}
.header__buttons,
.header__contact {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.pointer li button {
    cursor: pointer;
}
.header__contact li a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $text-description-color;
}
.header__contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 40px;
}
.header__contact li a:hover,
.header__contact li a:focus {
    color: $highlight-color;
    fill: $highlight-color;
    transition: $transition
}
