@import "../utils/globals";
@import "../utils/vars";

.hero {
    background: linear-gradient(rgba(47, 48, 58, 0.7), rgba(47, 48, 58, 0.2)), url(../images/background-M.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    margin-bottom: 94px;

    &__section {
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
        &__title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}