@import "../utils/globals";
@import "../utils/vars";

.mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: absolute;
    top: 48px;
    left: 40px;
  
    .mobile-menu__item {
      font-size: 40px;
      letter-spacing: 0.02em;
      line-height: 47px;
    }
    .mobile-menu__link {
      text-decoration: none;
      color: $brand-color;
      &:hover,
      &:focus {
        color: $highlight-color;
      }
    }
  }
  
  .mobile-contacts {
    position: absolute;
    bottom: 134px;
    left: 40px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    .mobile-contacts__item {
      font-size: 34px;
      line-height: 40px;
      letter-spacing: 0.02em;
    }
    .mobile-contacts__link {
      text-decoration: none;
      color: $brand-color;
    }
    .mobile-contacts--item-modifier {
      font-size: 24px;
      line-height: 28px;
    }
    .mobile-contacts--link-modifier {
      color: $text-description-color;
    }
  }
  
  .mobile-social-media {
    position: absolute;
    bottom: 48px;
    left: 40px;
    display: flex;
    gap: 10px;
  
    .mobile-social-media__item:not(:last-child) {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
      padding-right: 10px;
    }
    .mobile-social-media__link {
      text-decoration: none;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.02em;
      color: $highlight-color;
    }
  }
  
  .mobile-close {
    position: absolute;
    margin: 0;
    top: 21px;
    right: 35px;
    .mobile-close__icon:hover use {
      fill: $highlight-color;
      cursor: pointer;
    }
  }
  
  @media (max-width: 767px) {
    .menu {
      display: none;
    }
  }
  
  .menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    position: absolute;
    right: 20px;
    &:hover use {
      fill: $highlight-color;
    }
  }
  
  @media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }
  
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    z-index: 999;
    transform: translateY(-100%);
    transition: transform 250ms ease-in-out;
    min-width: 480px;
  }
  
  .menu-container.is-open {
    transform: translateY(0);
  }