@import "../utils/globals";
@import "../utils/vars";

.team {
    background-color: $grey-color;

    &__section {
        display: flex;
        flex-direction: column;
    }

}

.team__grid {
    display: flex;
    gap: 30px;
    justify-content: center;

    &__grid li {
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }
}

.team__card {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    .team__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        padding: 30px 0px 10px 0px;
    }
    .team__ocupation {
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: $text-description-color;
        padding-bottom: 30px;
    }
    .team__social-networks {
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
    }
}
.team__item {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: $svg-text-color;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &:focus {
        fill: #ffffff;
        background-color: $highlight-color;
        transition: $transition;
    }
}
